/*# sourceMappingURL=mediserve.css.map */
/* 全域 */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-font-family: "Inter", "IBM";
    --blue-0: #F5FCFF;
    --blue-100: #EDF8FD;
    --blue-200: #E0F0F8;
    --blue-300: #CCE6F2;
    --blue-400: #B2D7E8;
    --blue-500: #8FC3DB;
    --blue-600: #67AAC9;
    --blue-700: #3D8EB3;
    --blue-800: #1A719A;
    --blue-900: #005780;
    --orange-0: #FFE0D4;
    --orange-100: #FDC2AB;
    --orange-200: #F9A584;
    --orange-300: #F28B63;
    --orange-400: #E97648;
    --orange-500: #DD6333;
    --orange-600: #CD5424;
    --orange-700: #B84619;
    --orange-800: #A03A12;
    --orange-900: #87300E;
    --secondary-yellow1: #F9EC5B;
    --secondary-yellow2: #F7C80E;
    --secondary-gray1: #EFEFEF;
    --secondary-gray2: #797979;
    --secondary-gray3: #656C7B;
    --font-size-p: 1rem;
    --font-size-h6: 1.25rem;
    --font-size-h5: 1.5rem;
    --font-size-h4: 2.25rem;
    --font-size-h3: 2.5rem;
    --font-size-h2: 3rem;
    --font-size-h1: 4rem;
}

a {
    text-decoration: none;
}

body {
    font-family: var(--main-font-family);
    background: url(../img/bg-m.png) no-repeat;
    background-size: cover;
}

/* header */
header {
    background-color: var(--blue-0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.logo img {
    display: block;
    width: 80%;
    height: auto;
}

.nav-link1,
.nav-link {
    margin-right: 3rem;
}

.nav-link1 a,
.nav-link a {
    display: none;
}

.card1 {
    background-color: var(--blue-0);
}

.navbar-m {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav-link-m {
    padding: 20px;
}

.nav-link-m a {
    color: var(--blue-600);
}

.bar {
    display: block;
    font-size: 40px;
}

.bar a {
    color: var(--blue-600);
}

.user {
    border-radius: 50%;
    background-color: var(--blue-600);
    display: none;
}

/* search-bar*/
section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 32px;
}

.search-bar-con {
    width: 100%;
}

.search-bar {
    position: relative;
    width: 100%;
    margin-top: 80px;
}

.search-bar input {
    width: 100%;
    padding: 20px 60px 20px 20px;
    font-size: 20px;
    border: 1px solid #ccc;
    border-radius: 20px;
}

.i-left,
.i-right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: var(--secondary-gray3);
    font-size: 20px;
}

.i-left {
    right: 50px;
}

.i-right {
    right: 10px;
}

/* client-options */
.client-options {
    display: flex;
    width: 90%;
    justify-content: space-around;
    margin: 24px 0 64px 0;
    gap: 24px;
}

.client-option1,
.client-option {
    width: 150px;
    padding: 1rem .5rem;
    border-radius: 1.25rem;
    text-align: center;
}

.client-option1 a,
.client-option a {
    color: black;
}

.client-option {
    background-color: var(--blue-100);
}

.client-option1 {
    background-color: var(--secondary-gray1);
}

/* ***index none*** */
.none {
    color: var(--secondary-gray2);
    font-size: var(--font-size-h6);
    margin-bottom: 1.5rem;
}

.card2 {
    border-radius: 1.25rem;
    border: .0625rem solid var(--secondary-gray1);
    padding: .625rem;
}

.search-bar-items {
    text-align: center;
    font-size: var(--font-size-h5);
    margin-bottom: 1.25rem;
}

.department-list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.department {
    padding: .625rem;
}

.department a {
    color: black;
}

/* ***小兒科*** */
.ped-info {
    width: 100%;
    background-color: var(--blue-100);
    border-radius: 1.25rem;
    box-shadow: 0px 3px 15px 3px rgba(110, 110, 110, 0.15);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .5rem;
}

.modal-header {
    color: var(--blue-700);
    font-size: var(--font-size-h6);
}

.service-container {
    width: 100%;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 45%);
    grid-template-rows: repeat(4, 6.25rem);
    gap: 2rem 3rem;
}

.service-button {
    width: 100%;
    background-color: white;
    border: none;
    border-radius: 20px;
    font-size: var(--font-size-h6);
    cursor: pointer;
}

.service-button a {
    color: black;
}

/* ***小兒科*** */

.more-btn-con {
    display: flex;
    justify-content: flex-end;
}

.more-btn a {
    color: var(--blue-500);
}


/* card-client */

.card-client-list {
    display: flex;
    gap: 1rem;
    width: 100%;
    overflow-x: auto;
    scroll-padding-left: 50px;
    padding-bottom: 3rem;

}

.card-client {
    min-width: 80vw;
    background-color: white;
    box-shadow: 0px 3px 15px 3px rgba(110, 110, 110, 0.15);
    border-radius: 1.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 1rem;
}

.client-name {
    width: 100%;
    background-color: var(--blue-300);
    border-bottom: 1px solid var(--blue-900);
    padding: 16px;
    border-radius: 20px 20px 0 0;
    text-align: center;
    font-size: var(--font-size-h6);
}

.client-num,
.client-peo {
    width: 100%;
    background-color: var(--blue-100);
    padding: .625rem;
    text-align: center;
}

.client-text {
    padding: .625rem 1rem;
}

.client-text1 {
    margin-bottom: 12px;
}

.more-btn-con {
    display: flex;
    justify-content: flex-end;
}

.more-btn a {
    color: var(--blue-500);
}

/* client-info */
.client-info {
    background-color: var(--blue-100);
    border-radius: 1.25rem;
    padding: 1rem;
}

.modal-header {
    border-bottom: 1px solid var(--blue-500);
}

.client-logo {
    width: 10%;
    height: 10%;
    margin-right: 1.5rem;
}

.modal-title {
    font-size: var(--font-size-h5);
    color: var(--blue-900);
}

.client-progress {
    display: flex;
    flex-direction: column;
    align-items: start;

}

.progress-group {
    display: flex;
    justify-content: start;
    width: 50%;
}

.client-progress-title,
.client-service-title,
.client-contect-title {
    color: var(--blue-700);
    font-size: var(--font-size-h6);
    margin: .5rem 0;
}

.num1 {
    background-color: white;
    border-radius: 1.25rem;
    height: 3.125rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* client-info 結尾 */

.primary-btn {
    padding: .3125rem;
    width: 50%;
    background-color: var(--secondary-yellow1);
    border-radius: 20px;
    margin-bottom: .75rem;
}

.btn1 a {
    color: var(--blue-900);
    font-size: var(--font-size-h6);
}

/* footer */
footer {
    width: 100%;
    background-color: var(--blue-700);
    padding: .75rem;
    text-align: center;
}

.footer-text {
    color: white;
    font-size: var(--font-size-p);
    margin-bottom: 0;
}

/************ family ************/
.family-group {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    padding: 0 2rem;
    margin: 3rem 0;
}

.card-family {
    background-color: var(--orange-200);
    width: 45%;
    border-radius: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
}

.user-img1,
.user-img2,
.user-img3,
.user-img4 {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 20px;
    background: url(../img/grandma.jpg) no-repeat;
    background-size: cover;
}

.user-img2 {
    background: url(../img/grandpa.jpg) no-repeat;
    background-size: cover;
}

.user-img3 {
    background: url(../img/mom.jpg) no-repeat;
    background-size: cover;
}

.user-img4 {
    background: url(../img/daughter.jpg) no-repeat;
    background-size: cover;
}

.family-name,
.fmaily-birth {
    font-size: var(--font-size-h5);
    color: black;
}

.family-name {
    margin-bottom: 1.25rem;
    text-align: center;
}

/************ history ************/
.title {
    font-size: var(--font-size-h4);
    color: var(--blue-900);
    margin: 48px 0;
}

.history-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}

.history-group a {
    width: 100%;
}

.card-history,
.card-history1 {
    background-color: var(--secondary-gray1);
    box-shadow: 0px 3px 10px 3px rgba(110, 110, 110, 0.15);
    border-radius: 1.25rem;
    padding: 1rem 2rem;
    margin-bottom: 1.5rem;
}

.card-history1 {
    background-color: white;
}

.hsitory-title {
    color: var(--orange-200);
    font-size: var(--font-size-h4);
    text-align: center;
    margin-bottom: 1.25rem;
}

.history-con {
    font-size: var(--font-size-h6);
    line-height: 2.25rem;
    color: black;
}

/************ reserve-that-day ************/
.that-day-section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 32px;
    justify-content: center;
}

.that-day {
    width: 90%;
}

.that-day-title {
    color: var(--orange-200);
    font-size: var(--font-size-h4);
    text-align: center;
    margin-bottom: 1.25rem;
}

.that-day-client-name {
    font-size: var(--font-size-h4);
    text-align: center;
    margin-bottom: 1.25rem;
}

.card-that-day {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    box-shadow: 0px 3px 15px 3px rgba(110, 110, 110, 0.15);
    border-radius: 1.25rem;
    padding: 1rem 2rem;
}

.card-that-day i {
    color: var(--blue-700);
    text-align: center;
    margin-bottom: 1.25rem;
    font-size: var(--font-size-h5);
}

.that-day-con {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--font-size-h5);
    margin-bottom: 1.25rem;
}

.that-day-num,
.that-day-peo {
    text-align: center;
    background-color: var(--blue-100);
    width: 9.375rem;
    border-radius: 1.25rem;
    margin: 0 1rem;
    padding: 0.5rem 0;
}

/************ remind ************/
.card-remind {
    min-width: 70vw;
    background-color: white;
    box-shadow: 0px 3px 15px 3px rgba(110, 110, 110, 0.15);
    border-radius: 1.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1.5rem;
}

.remind-title {
    width: 100%;
    background-color: var(--orange-0);
    font-size: var(--font-size-h5);
    text-align: center;
    border-radius: 1.25rem;
    padding: 1rem 0;
}

.remind-text {
    padding: .75rem;
    font-size: var(--font-size-h6);
}

/* btn */
.primary-btn-outside {
    padding: 1rem;
    width: 7.5rem;
    background-color: var(--secondary-yellow1);
    border-radius: 20px;
    margin-bottom: 1rem;
}

.btn1 a {
    color: var(--blue-900);
    font-size: var(--font-size-h6);
}

/**** 電腦 ****/
@media screen and (min-width: 1024px) {
    body {
        background: url(../img/bg-2.png) no-repeat;
        background-size: cover;
    }

    .nav-link1 a {
        color: var(--blue-900);
        border-bottom: 2px solid var(--blue-900);
        display: block;
        font-size: var(--font-size-h5);
    }

    .nav-link a {
        display: block;
        font-size: var(--font-size-h5);
        color: var(--blue-600);
    }

    .nav-link a:hover {
        color: var(--blue-900);
        border-bottom: 2px solid var(--blue-900);
    }

    .bar {
        display: none;
    }

    .user {
        border-radius: 50%;
        background-color: var(--blue-600);
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: url(../img/daughter.jpg);
        background-size: cover;
    }

    section {
        margin: 0 64px;
    }

    .search-bar-con {
        width: 60%;
    }

    .search-bar {
        width: 100%;
    }

    .client-options {
        width: 50%;
    }

    .client-option1,
    .client-option {
        padding: 16px 16px;
    }

    .client-option1:hover,
    .client-option:hover {
        background-color: var(--secondary-gray1);
    }

    .card-client {
        min-width: 20vw;
    }

    .card-client:hover .client-name {
        background-color: var(--blue-600);
    }

    .primary-btn:hover {
        background-color: var(--secondary-yellow2);
    }

    /************ family ************/
    .family-group {
        flex-direction: row;
    }

    .card-family {
        width: 20%;
    }

    .card-family:hover {
        background-color: var(--orange-100);
    }

    /************ history ************/
    .history-group a {
        width: 40%;
    }

    .card-history:hover,
    .card-history1:hover {
        background-color: var(--secondary-gray1);
    }

    .that-day {
        width: 40%;
    }

    /************ remind ************/
    .remind-group {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .card-remind {
        min-width: 35vw;
        margin-right: 1.5rem;
    }

    .primary-btn-outside {
        position: fixed;
        bottom: 60px;
        right: 80px;
    }

    .primary-btn-outside:hover {
        background-color: var(--secondary-yellow2);
    }
}