 /*# sourceMappingURL=mediserve.css.map */
 /* 全域 */
 @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 :root {
     --main-font-family: "Inter", "IBM";
     --blue-0: #F5FCFF;
     --blue-100: #EDF8FD;
     --blue-200: #E0F0F8;
     --blue-300: #CCE6F2;
     --blue-400: #B2D7E8;
     --blue-500: #8FC3DB;
     --blue-600: #67AAC9;
     --blue-700: #3D8EB3;
     --blue-800: #1A719A;
     --blue-900: #005780;
     --orange-0: #FFE0D4;
     --orange-100: #FDC2AB;
     --orange-200: #F9A584;
     --orange-300: #F28B63;
     --orange-400: #E97648;
     --orange-500: #DD6333;
     --orange-600: #CD5424;
     --orange-700: #B84619;
     --orange-800: #A03A12;
     --orange-900: #87300E;
     --secondary-yellow1: #F9EC5B;
     --secondary-yellow2: #F7C80E;
     --secondary-gray1: #EFEFEF;
     --secondary-gray2: #797979;
     --secondary-gray3: #656C7B;
     --font-size-p: 1rem;
     --font-size-h6: 1.25rem;
     --font-size-h5: 1.5rem;
     --font-size-h4: 2.25rem;
     --font-size-h3: 2.5rem;
     --font-size-h2: 3rem;
     --font-size-h1: 4rem;
 }

 a {
     text-decoration: none;
 }

 body {
     font-family: var(--main-font-family);
     background: url(../img/bg-m.png) no-repeat;
     background-size: cover;
 }

 section {
     padding: 32px;
     height: 100vh;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .card-position {
     width: 90%;
     background-color: var(--blue-100);
     border-radius: 1.25rem;
     box-shadow: 0px 3px 15px 3px rgba(110, 110, 110, 0.15);
     display: flex;
     flex-direction: column;
     align-items: center;
     padding: 3rem;
 }

 .title {
     font-size: var(--font-size-h4);
     color: var(--blue-900);
     margin-bottom: 48px;
 }

 .position-option {
     padding: 16px 32px;
     width: 90%;
     background-color: white;
     border: 1px solid black;
     border-radius: 20px;
     margin-bottom: 48px;
     font-size: var(--font-size-h5);
 }

 .yes-no {
     width: 90%;
     display: flex;
     justify-content: center;
     gap: 4rem;
 }

 .secondary-btn {
     padding: 16px;
     width: 120px;
     background-color: var(--secondary-gray1);
     border-radius: 20px;
     margin-bottom: 16px;
 }

 .primary-btn {
     padding: 16px;
     width: 150px;
     background-color: var(--secondary-yellow1);
     border-radius: 20px;
     margin-bottom: 16px;
 }

 .btn1 {
     font-size: var(--font-size-h5);
 }

 .btn1 a {
     color: var(--blue-900);
 }

 /**** 電腦 ****/
 @media screen and (min-width: 1024px) {
     body {
         background: url(../img/bg-2.png) no-repeat;
     }

     .card-position {
         width: 50%;
     }

     .position-option:hover {
         background-color: var(--blue-300);
     }

     .secondary-btn:hover {
         background-color: var(--secondary-gray2)
     }

     .primary-btn:hover {
         background-color: var(--secondary-yellow2)
     }
 }