       /* 全域 */
       @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

       * {
           margin: 0;
           padding: 0;
           box-sizing: border-box;
       }

       :root {
           --main-font-family: "Inter", "IBM";
           --blue-0: #F5FCFF;
           --blue-100: #EDF8FD;
           --blue-200: #E0F0F8;
           --blue-300: #CCE6F2;
           --blue-400: #B2D7E8;
           --blue-500: #8FC3DB;
           --blue-600: #67AAC9;
           --blue-700: #3D8EB3;
           --blue-800: #1A719A;
           --blue-900: #005780;
           --orange-0: #FFE0D4;
           --orange-100: #FDC2AB;
           --orange-200: #F9A584;
           --orange-300: #F28B63;
           --orange-400: #E97648;
           --orange-500: #DD6333;
           --orange-600: #CD5424;
           --orange-700: #B84619;
           --orange-800: #A03A12;
           --orange-900: #87300E;
           --secondary-yellow1: #F9EC5B;
           --secondary-yellow2: #F7C80E;
           --secondary-gray1: #EFEFEF;
           --secondary-gray2: #797979;
           --secondary-gray3: #656C7B;
           --font-size-p: 1rem;
           --font-size-h6: 1.25rem;
           --font-size-h5: 1.5rem;
           --font-size-h4: 2.25rem;
           --font-size-h3: 2.5rem;
           --font-size-h2: 3rem;
           --font-size-h1: 4rem;
       }

       a {
           text-decoration: none;
       }

       body {
           font-family: var(--main-font-family);
           background: url(../img/bg-m.png) no-repeat;
           background-size: cover;
       }

       .bar {
           width: auto;
           display: flex;
           justify-content: center;
           align-items: center;
           margin: 1.5rem 1.5rem;
       }

       .progress-bar {
           width: 50%;
           display: inline-block;
           height: 2rem;
           background-color: var(--secondary-gray1);
           box-shadow: 0px .125rem .125rem rgba(0, 0, 0, 0.25) inset;
           border-radius: 3.125rem;
           position: relative;
       }

       .progress-num {
           display: flex;
           height: 1.875rem;
           border-radius: 3.125rem;
           position: absolute;
           bottom: 0;
           left: 0;
           color: white;
           font-weight: bold;
           justify-content: center;
           align-items: center;
       }

       .progress-1 {
           width: 25%;
           background: var(--blue-600);
       }

       .progress-2 {
           width: 50%;
           background: var(--blue-600);
       }

       .progress-3 {
           width: 75%;
           background: var(--blue-600);
       }

       .progress-4 {
           width: 100%;
           background: var(--blue-600);
       }

       .sch-list {
           width: auto;
           display: flex;
           justify-content: center;
           align-items: center;
           margin: 1.5rem 1.5rem;
       }

       .sch-list {
           display: none;
       }

       .sch1,
       .sch {
           border-radius: 1.25rem;
           padding: 1rem;
       }

       .sch1 {
           background-color: var(--blue-300);
       }

       .sch {
           background-color: var(--blue-0);
       }

       .sch1 a,
       .sch a {
           font-size: var(--font-size-h5);
           color: var(--blue-700);
       }


       .right-arrow {
           color: var(--blue-700);
           font-size: var(--font-size-h5);
           margin: 0 16px;
       }

       section {
           padding: 32px;
           display: flex;
           justify-content: center;
           margin-top: 4rem;
       }

       .card-reserve {
           width: 90%;
           background-color: var(--blue-100);
           border-radius: 1.25rem;
           box-shadow: 0px 3px 15px 3px rgba(110, 110, 110, 0.15);
           display: flex;
           flex-direction: column;
           align-items: center;
           padding: 3rem 2rem;
       }

       /* modal */
       .modal-header {
           background-color: var(--blue-400);
       }

       .modal-dialog {
           max-width: 350px;
       }

       /* modal */

       .fixed-center {
           position: fixed;
           top: 50%;
           left: 50%;
           transform: translate(-50%, -50%);
           z-index: 1055;
           max-width: 90%;
           width: 400px;
       }

       .title {
           font-size: var(--font-size-h4);
           color: var(--blue-900);
           margin-bottom: 48px;
       }

       .service-container,
       .service-container-1 {
           width: 100%;
           display: grid;
           justify-content: center;
           grid-template-columns: repeat(2, 45%);
           grid-template-rows: repeat(4, 6.25rem);
           gap: 2rem 3rem;
       }

       .service-container-1 {
           grid-template-rows: repeat(2, 6.25rem);
       }

       /* reserve-3 */
       .calender {
           display: flex;
           width: 100%;
           gap: 1.5rem;
           overflow-x: auto;
           margin-bottom: 3rem;
       }

       .service-button,
       .calender-button {
           width: 100%;
           background-color: white;
           border: none;
           border-radius: 20px;
           font-size: var(--font-size-h6);
           cursor: pointer;
       }

       .service-button a {
           color: black;
       }

       .calender-button {
           width: 25%;
           padding: 1rem .5rem;
       }

       .modal-body {
           display: flex;
           flex-direction: column;
           align-items: center;
           gap: .75rem;
       }

       .time-button {
           width: 50%;
           padding: 1rem .5rem;
           background-color: white;
           border-radius: 20px;
           border: 1px solid var(--secondary-gray2);

       }

       .doctor {
           width: 80%;
           display: flex;
           justify-content: center;
           gap: 1.5rem;
       }

       .doctor-button {
           width: 40%;
           padding: 1rem .5rem;
           background-color: white;
           border-radius: 20px;
           border: 1px solid var(--secondary-gray2);
           margin-bottom: 3rem;
       }

       textarea {
           padding: 20px;
           max-width: 80%;
           background-color: white;
           border-radius: 20px;
           border: none;
           resize: none;
       }

       /* reserve-4 */
       form {
           display: flex;
           width: 100%;
           flex-direction: column;
       }

       .form-group {
           margin: .75rem;
           display: flex;
           justify-content: space-between;
           align-items: center;
       }

       .gender-list {
           width: 49%;
           display: flex;
       }

       .gender-options {
           padding-right: 20px;
       }

       label {
           font-size: var(--font-size-h5);
       }

       input {
           border-radius: 1.25rem;
           border: none;
           max-width: 150px;
           padding: 12px;
       }

       /* reserve-5 */
       .reserve-5 {
           display: flex;
           justify-content: center;
           align-items: center;
           height: 100vh;
       }

       .reserve-result {
           font-size: var(--font-size-h4);
           color: var(--orange-300);
           margin-bottom: 1rem;
       }

       .result-info {
           background-color: white;
           border-radius: 1.25rem;
           max-width: 100%;
           padding: 1rem 2rem;
       }

       .info-group {
           text-align: start;
           font-size: var(--font-size-h6);
           margin: 1rem 0;
       }

       /* btn */
       .yes-no {
           width: 90%;
           display: flex;
           justify-content: center;
           gap: 4rem;
           margin-top: 1.5rem;
       }

       .secondary-btn {
           padding: 16px;
           width: 120px;
           background-color: var(--secondary-gray1);
           border-radius: 20px;
           margin-bottom: 16px;
       }

       /* primary-btn */
       .primary-btn {
           padding: 16px;
           width: 150px;
           background-color: var(--secondary-yellow1);
           border-radius: 20px;
           margin-bottom: 16px;
       }

       .btn1 {
           font-size: var(--font-size-h5);
       }

       .btn1 a {
           color: var(--blue-900);
       }

       /**** 電腦 ****/
       @media screen and (min-width: 1024px) {
           body {
               background: url(../img/bg-2.png) no-repeat;
           }

           .bar {
               display: none;
           }

           .sch-list {
               display: flex;
           }

           .sch:hover {
               background-color: var(--blue-300);
           }

           .card-reserve {
               width: 60%;
           }

           .service-button:hover {
               background-color: var(--blue-300);
           }

           .secondary-btn:hover {
               background-color: var(--secondary-gray2)
           }

           .primary-btn:hover {
               background-color: var(--secondary-yellow2)
           }

           .calender-button:hover {
               background-color: var(--blue-300);
           }

           .doctor-button:hover {
               background-color: var(--blue-300);
           }

           form {
               display: flex;
               justify-content: center;
           }

           .form-group {
               width: 60%;
               margin: 1.5rem auto;
           }

           .gender-list {
               justify-content: center;
           }

           .gender-options {
               width: 100%;
           }

           input {
               max-width: 300px;
           }

           .result-info {
               max-width: 60%;
           }
       }